/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* FIM GLOBAL */
.container {
    width: 90%;
    height: auto;
    margin: auto;
}
.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/fundoCadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* HEADER */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1000;
}
.header .container {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}
.logo-header img {
    height: 30px;
    margin-top: 7px;
    cursor: pointer;
}
.nav2Work {
    float: right;
}
.nav2Work a {
    position: relative;
    font-size: 15px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.nav2Work a:after {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.nav2Work a:hover {
    color: #fff;
    text-decoration: none;
}
.nav2Work a:hover:after {
    width: 100%;
}
.nav2Work li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
.nav2Work ul {
    margin: 0 !important;
}
/* FIM HEADER */
.content {
    background-color: white;
    border-radius: 10px;
    width: 960px;
    height: 65%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content::before {
    content: "";
    position: absolute;
    background-color: #08376B;
    width: 40%;
    height: 100%;
    border-top-left-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 7px;
    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    font-size: 24px;
    color: white;
}
.title-second {
    color: #08376B;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: white;
}
.description-second {
    color: white;
}
/* BOTÕES */
.btn {
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-primary {
    background-color: transparent;
    border: 1px solid white;
    transition: background-color 0.7s;
    width: 12vw;
}
.btn-primary:hover {
    background-color: white;
    color: #08376B;
}
.btn-second-login {
    background-color: #08376B;
    transition: background-color 0.7s;
    margin-left: 67px;
    margin-left: 10px;
}
.btn-second-login:hover {
    background-color: #2F90B0;
}
.btn-second-cadastro {
    background-color: #08376B;
    transition: background-color 0.7s;
    margin: 17px 0 0px 227px;
    width: 11.4vw;
    margin-left: 10px;
}
.btn-second-cadastro:hover {
    background-color: #2F90B0;
}
/* FIM BOTÕES */
/* OLHO EXIBIR E OCULTAR SENHA */
#toggle {
    position: absolute;
    width: 2vw;
    height: 3vh;
    background: url(../img/olho.png);
    background-size: cover;
    cursor: pointer;
    margin-left: -45px;
    display: inline-block;
    margin-top: 34px;
}
#toggle.hide {
    background: url(../img/olho_block.png);
    background-size: cover;
}
#toggle-confirmar {
    position: absolute;
    width: 2vw;
    height: 3vh;
    background: url(../img/olho.png);
    background-size: cover;
    cursor: pointer;
    margin-left: -45px;
    display: inline-block;
    margin-top: 34px;
}
#toggle-confirmar.hide {
    background: url(../img/olho_block.png);
    background-size: cover;
}
#toggle-login {
    position: absolute;
    width: 2vw;
    height: 3vh;
    background: url(../img/olho.png);
    background-size: cover;
    cursor: pointer;
    margin-left: -45px;
    display: inline-block;
    margin-top: 34px;
}
#toggle-login.hide {
    background: url(../img/olho_block.png);
    background-size: cover;
}
/* FIM OLHO EXIBIR E OCULTAR SENHA */
/* PRIMEIRO CONTEÚDO */
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulario-login {
    width: 50%;
}
.campo {
    width: 50%;
    float: left;
    padding: 0 0px 0px 20px;
}
.campo input {
    width: 80%;
    height: 42px;
    margin-top: 22px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
    text-transform: capitalize;
}
.campo #estado {
    width: 80%;
    height: 42px;
    margin-top: 22px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
}
.campo2 input {
    width: 85%;
    height: 42px;
    margin-top: 22px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
}
.campo select {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 94%;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}
/* SEGUNDO CONTEÚDO */
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #08376B;
    font-size: 14px;
    text-align: center;
    margin-left: 72px;
}
.password::first-letter {
    text-transform: capitalize;
}
.sign-in-js .first-content .first-column {
    z-index: -1;
}
.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}
.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    animation: slidein 1.4s;
    z-index: 12;
}
.sign-up-js .content::before {
    animation: slideout 1.4s;
    z-index: 12;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}
.sign-up-js .first-content .second-column {
    z-index: 11;
}
.sign-up-js .first-content .first-column {
    z-index: 13;
}
/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE */
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.4s;
}
.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.4s;
}
/* ANIMAÇÃOO CSS PARA O CONTEÚDO */
@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: .5;
    }
    50% {
        left: -100px;
        opacity: .2;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes deslocamentoDir {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: 80px;
    }
    50% {
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}
/* ANIMAÇÃO CSS */
@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    /* 25% {
        left: 5%;
        width: 50%;
    } */
    65% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    /* 25% {
        left: 45%;
        width: 50%;
    } */
    65% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}
/* FIM ANIMAÇÃO CSS */
/* VERSÃO MOBILE */
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }
    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content,
    .second-content {
        flex-direction: column;
        justify-content: space-around;
    }
    .first-column,
    .second-column {
        width: 100%;
    }
    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }
    .form {
        width: 90%;
    }
    /* ANIMAÇÃO MOBILE CSS */
    @keyframes deslocamentoEsq {
        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
        25% {
            top: -80px;
            opacity: .5;
        }
        50% {
            top: -100px;
            opacity: .2;
        }
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    @keyframes deslocamentoDir {
        from {
            top: 0;
            z-index: 12;
        }
        25% {
            top: 80px;
        }
        50% {
            top: 100px;
        }
        to {
            top: 110px;
            z-index: -1;
        }
    }
    @keyframes slidein {
        from {
            top: 0;
            height: 40%;
        }
        25% {
            top: 5%;
            height: 50%;
        }
        50% {
            top: 25%;
            height: 60%;
        }
        75% {
            top: 45%;
            height: 50%;
        }
        to {
            top: 60%;
            height: 40%;
        }
    }
    @keyframes slideout {
        from {
            top: 60%;
            height: 40%;
        }
        25% {
            top: 45%;
            height: 50%;
        }
        50% {
            top: 25%;
            height: 60%;
        }
        75% {
            top: 5%;
            height: 50%;
        }
        to {
            top: 0;
            height: 40%;
        }
    }
}
@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}