        /* GLOBAL */
        
        body {
            font-family: 'Montserrat', sans-serif !important;
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            scroll-behavior: smooth;
            height: 100%;
            min-height: 100%;
        }
        
        .container2Work {
            width: 90%;
            height: auto;
            margin: auto;
        }
        /* FIM GLOBAL */
        /* ALÇA DE ROLAGEM ARRASTÁVEL */
        
         ::-webkit-scrollbar {
            width: 10px;
            background-color: black;
        }
        
         ::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background-color: #08376B;
        }
        /* FIM ALÇA DE ROLAGEM ARRASTÁVEL */
        /* NAVBAR */
        
        .header2Work {
            width: 100%;
            position: fixed;
            z-index: 10000;
            background-color: #08376B;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        }
        
        .header2Work .container2Work {
            display: flex;
            height: 65px;
            align-items: center;
            justify-content: space-between;
        }
        
        .logo-header img {
            height: 30px;
            cursor: pointer;
        }
        
        .nav2Work {
            float: right;
        }
        
        .nav2Work a {
            position: relative;
            font-size: 15px;
            color: #a0a0a0;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .nav2Work a:after {
            content: "";
            position: absolute;
            background-color: #c6c6c6;
            height: 1px;
            width: 0;
            left: 0;
            bottom: -3px;
            transition: 0.3s;
        }
        
        .nav2Work a:hover {
            color: #fff;
            text-decoration: none;
        }
        
        .nav2Work a:hover:after {
            width: 100%;
        }
        
        .nav2Work li {
            display: unset;
            padding: 0px 0px 0px 10px;
        }
        
        .nav2Work ul {
            float: left;
            margin-right: 10px;
        }
        
        .nav2Work ul input {
            background: #FFFFFF;
            border: 1px solid #C6C6C6;
            box-sizing: border-box;
            border-radius: 3px;
            outline: none;
            width: 230px;
            height: 39px;
            padding: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        .button_upload {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 100px;
            height: 39px;
            padding: 10px;
            border-radius: 3px;
            background: #C6C6C6;
            border: 1px solid #C6C6C6;
            cursor: pointer;
            text-decoration: none;
            box-sizing: none;
        }
        
        .button_upload {
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3;
        }
        
        .button_upload:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        .action {
            float: right;
            top: 20px;
            right: 30px;
        }
        
        .action .profile {
            position: relative;
            width: 40px;
            height: 38px;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            background: #FFFFFF;
            border: 0.1px solid #C6C6C6;
        }
        
        .fotoperfil {
            width: 70px;
        }
        
        .action .profile img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .action .menu {
            position: absolute;
            top: 120px;
            right: 3px;
            padding: 10px 20px;
            background: #08366bb4;
            width: 210px;
            box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        .action .menu.active {
            top: 70px;
            visibility: visible;
            opacity: 1;
        }
        
        .action .menu h3 {
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            color: #fff;
            line-height: 1.2em;
        }
        
        .action .menu h3 span {
            font-size: 14px;
            color: #cecece;
            font-weight: 400;
        }
        
        .action .menu ul li {
            list-style: none;
            padding: 10px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;
            margin-left: -30px;
        }
        
        .action .menu ul li i {
            max-width: 20px;
            margin-right: 10px;
            opacity: 0.5;
            transition: 0.5s;
            color: #E4E4E4;
        }
        
        .action .menu ul li:hover i {
            opacity: 1;
        }
        
        .action .menu ul li a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            transition: 0.5s;
        }
        
        .action .menu ul li:hover a {
            color: #ff5d94;
        }
        /* FIM NAVBAR */
        /* LISTA PROJETOS */
        
        .listagem-projetos {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15% 0;
            flex-direction: row;
            align-content: center;
            align-items: center;
        }
        
        img {
            max-width: 100%;
        }
        
        .ui-card {
            width: 350px;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-out;
            background: radial-gradient(#111 50%, #000 100%);
            position: relative;
            display: flex;
            background: white;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border-radius: 3px;
            width: 25vw;
            height: 30vh;
            margin: 0 1% 5%;
            text-decoration: none;
            color: black;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-out;
            background: radial-gradient(#111 50%, #000 100%);
        }
        
        .ui-card .capa-projeto {
            transform: scale(1);
            transition: all 0.3s ease-out;
        }
        
        .ui-card:hover .capa-projeto {
            transform: scale(1) translateY(1%);
            opacity: 0.3
        }
        
        .ui-card .description {
            position: absolute;
            bottom: 20%;
            display: flex;
            left: 0;
            padding: 0%;
            width: 100%;
            color: #fff;
            font-size: 10pt;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .ui-card .description h3 {
            font-weight: 300;
            font-size: 20pt;
            margin: 0;
            transform: translateY(30px);
            opacity: 0;
            transition: all 0.3s ease-out;
        }
        
        .ui-card .description p {
            transform: translateY(30px);
            opacity: 0;
            transition: all 0.3s ease-out 0.2s;
        }
        
        .ui-card .description button {
            width: 25%;
            color: #fff;
            background: rgba(41, 124, 27, 0.73);
            border: 1px solid #8E8E8E;
            box-sizing: border-box;
            display: inline-block;
            cursor: pointer;
            padding: 0.5%;
            border-radius: 3px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-decoration: none;
            transform: translateY(30px);
            opacity: 0;
            transition: all 0.3s ease-out 0.4s;
        }
        
        .ui-card .description button:hover {
            background: rgba(42, 124, 27, 0.514);
        }
        
        .ui-card:hover .description h3 {
            opacity: 1;
            transform: translateY(0px);
        }
        
        .ui-card:hover .description p {
            opacity: 1;
            transform: translateY(0px);
        }
        
        .ui-card:hover .description button {
            opacity: 1;
            transform: translateY(0px);
        }
        /* FIM LISTA PROJETOS */
        /* MODAL PROJETOS */
        
        .modal-btn {
            width: 30%;
            color: #fff;
            background: rgba(41, 124, 27, 0.73);
            border: 1px solid #8E8E8E;
            box-sizing: border-box;
            display: inline-block;
            cursor: pointer;
            padding: 0.9%;
            border-radius: 3px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-decoration: none;
        }
        
        .modal-btn {
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3;
        }
        
        .modal-btn:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        .nomeDev {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            width: 90%;
        }
        
        .nomeDev2 {
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 100%;
            align-items: baseline;
            margin-left: 1%;
        }
        
        .nomeDev span {
            font-size: 10pt;
            margin-left: 3%;
        }
        
        .descriptionProjeto p {
            width: 80%;
        }
        
        .iconUsuario {
            height: 3vw;
        }
        
        .perfil-Projeto {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            height: 7rem;
            justify-content: space-between;
        }
        
         :root {
            --modal-duration: 1s;
        }
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .descriptionModal {
            width: 90%;
            margin-bottom: 5%;
        }
        
        .modal-content {
            margin: 10% auto;
            width: 60%;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            animation-name: modalopen;
            animation-duration: var(--modal-duration);
        }
        
        .modal-header h2,
        .modal-footer h3 {
            margin: 0;
        }
        
        .modal-header {
            background: #08376B;
            padding: 15px;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        .modal-body {
            padding: 10px 20px;
            background: #fff;
        }
        
        .conteudoModal {
            padding: 10px 20px 50px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-align: justify;
        }
        
        .modalimgProjeto {
            width: 40%;
        }
        
        .modal-footer {
            background: #08376B;
            padding: 10px;
            color: #fff;
            text-align: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        .modal-footer img {
            height: 30px;
        }
        
        .close {
            color: #ccc;
            float: right;
            font-size: 55px;
            color: #fff;
            margin-top: -17px;
        }
        
        .close:hover,
        .close:focus {
            color: rgb(255, 70, 70);
            text-decoration: none;
            cursor: pointer;
        }
        
        @keyframes modalopen {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        .heart-btnButton {
            display: flex;
            margin-top: 6.5%;
            transform: translate(0%, -50%);
        }
        
        .contentButton {
            padding: 10px 10px;
            display: flex;
            border: 2px solid #eae2e1;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .contentButton.heartButton-active {
            border-color: #f9b9c4;
            background: #fbd0d8;
        }
        
        .heartButton {
            position: absolute;
            background: url("/img/img.png") no-repeat;
            background-position: left;
            background-size: 2900%;
            height: 60px;
            width: 60px;
            top: 50%;
            left: 21%;
            transform: translate(-50%, -50%);
        }
        
        .textButton {
            font-weight: bold;
            font-size: 10pt;
            margin-left: 20px;
            color: grey;
            font-family: 'Montserrat', sans-serif;
        }
        
        .textButton.heartButton-active {
            color: #000;
        }
        
        .heartButton.heartButton-active {
            animation: animate .8s steps(28) 1;
            background-position: right;
        }
        
        @keyframes animate {
            0% {
                background-position: left;
            }
            100% {
                background-position: right;
            }
        }
        
        .slide {
            width: 90%;
            height: 60vh;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            transition: all 0.4s;
        }
        
        .slides {
            width: 5200px;
            display: flex;
            align-content: center;
            align-items: center;
        }
        
        .image img {
            display: flex;
            width: 48.7vw;
            height: 60vh;
            overflow: hidden;
        }
        
        #atual {
            margin-left: 0;
            transition: all 2s;
        }
        
        .btnSlide {
            position: absolute;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.4s;
            font-size: 1.5em;
        }
        
        .btnSlide:hover {
            transform: scale(1.5);
        }
        
        #voltar {
            left: 27%;
        }
        
        #avancar {
            right: 27%;
        }
        
        .balls {
            position: absolute;
            width: 49vw;
            display: flex;
            justify-content: center;
            margin-top: -2%;
        }
        
        .balls div {
            transition: all 0.5s;
            border: 2px solid #fff;
            padding: 6px;
            border-radius: 50%;
            margin-right: 15px;
            cursor: pointer;
        }
        
        .balls div:hover {
            background: #fff;
        }
        /* FIM MODAL PROJETOS */