/* GLOBAL */
body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    min-height: 100%;
}
/* FIM GLOBAL */
.container2Work {
    width: 90%;
    height: auto;
    margin: auto;
}
.title_msg {
    font-size: 32px;
    font-weight: 30;
    margin: 0;
}
.description {
    font-size: 18px;
    max-width: 800px;
}
.description p {
    text-align: center;
}
/* ALÇA DE ROLAGEM ARRASTÁVEL */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #08376B
}
/* FIM ALÇA DE ROLAGEM ARRASTÁVEL */
/* NAVBAR */
.header2Work {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #08376B;
    z-index: 1000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header2Work .container2Work {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}
.logo-header img {
    height: 30px;
    cursor: pointer;
}
.nav2Work {
    float: right;
}
.nav2Work a {
    position: relative;
    font-size: 15px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.nav2Work a:after {
    content: "";
    position: absolute;
    background-color: #c6c6c6;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.nav2Work a:hover {
    color: #fff;
    text-decoration: none;
}
.nav2Work a:hover:after {
    width: 100%;
}
.nav2Work li {
    display: unset;
    padding: 0px 0px 0px 10px;
}
.nav2Work ul {
    float: left;
    margin-right: 10px;
}
.nav2Work ul input {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.action {
    float: right;
    top: 20px;
    right: 30px;
}
.action .profile {
    position: relative;
    width: 40px;
    height: 38px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background: #FFFFFF;
    border: 0.1px solid #C6C6C6;
}
.fotoperfil {
    width: 70px;
}
.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu {
    position: absolute;
    top: 120px;
    right: 3px;
    padding: 10px 20px;
    background: #08366bb4;
    width: 210px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.action .menu.active {
    top: 70px;
    visibility: visible;
    opacity: 1;
}
.action .menu h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 1.2em;
}
.action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover img {
    opacity: 1;
}
.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a {
    color: #ff5d94;
}
/* FIM NAVBAR */
/* INICIO INPUT PROJETO */
.box {
    padding: 15px 0;
}
.div-projeto {
    width: 69%;
}
.box input {
    padding: 10px 0;
}
.box input {
    width: 148%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}
.box .form_projeto div {
    position: sticky;
}
.box .form_projeto div label {
    position: absolute;
    z-index: 1;
    top: 5px;
    transition: .5s;
    pointer-events: none;
    font-size: 20px;
    font-weight: bold
}
.box input:focus~label,
.box textarea:focus~label,
.box input:valid~label,
.box textarea:valid~label {
    top: -12px;
    left: 0;
    color: #252525;
    font-size: 12pt;
    font-weight: bold;
}
.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid {
    border-bottom: 2px solid #08376B;
}
/* FIM INPUT PROJETO */
/* INICIO SECTION UPLOAD */
.section_upload {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    padding: 5% 0;
}
.img-upload {
    margin: 4% 0% 0% 8%;
    width: 30%;
}
.wrapper {
    padding: 1%;
    width: 40vw;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    z-index: 100;
}
.wrapper h1 {
    color: #08376B;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form {
    height: 40vh;
    display: flex;
    margin: 30px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #08376B;
}
form :where(i, p) {
    color: #08376B;
}
form i {
    font-size: 50px;
}
form p {
    font-size: 16px;
    margin-top: 15px;
}
section .row {
    background: #E9F0FF;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i {
    font-size: 30px;
    color: #08376B;
}
section .details span {
    font-size: 14px;
}
.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}
.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.progress-area .progress-bar {
    height: 6px;
    width: 100%;
    background: white;
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #08376B;
    border-radius: inherit;
}
.uploaded-area {
    max-height: 230px;
    overflow-y: scroll;
}
.uploaded-area.onprogress {
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar {
    width: 0px;
}
.uploaded-area .row .content {
    display: flex;
    align-items: center;
}
.uploaded-area .row .details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.uploaded-area .details .size {
    font-size: 11px;
    color: #404040;
}
.uploaded-area .fa-check {
    color: #08376B;
    font-size: 16px;
}
/* INICIO SECTION UPLOAD */
/* DESCRIÇÃO E BOTÃO PUBLICAR AGORA */
footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 1.5% 2.3%;
    background-color: #08376B;
    display: flex;
    margin-top: auto;
}
footer .containerTwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
footer h1 {
    margin: 0;
    float: left;
}
.footerForm {
    flex-wrap: wrap;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column
}
.footerForm input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    outline: none;
}
textarea {
    min-width: 41vw;
    font-weight: 500;
    padding: 10px 0px 0px 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    outline: none;
}
.footerForm button {
    float: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 15vw;
    height: 6vh;
    margin-top: 10px;
    outline: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: transparent;
    transition: 0.7s;
    font-weight: bold;
    cursor: pointer;
}
.footerForm button:hover {
    color: #2F90B0;
    background-color: whitesmoke;
    transition: 0.7s;
}