/* GLOBAL */         
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
/* FIM GLOBAL */
.container {
    width: 90%;
    height: auto;
    margin: auto;
}       
.title_msg {
    font-size: 32px;
    font-weight: 30;
     margin: 0;
}        
.description {
    font-size: 18px;
    max-width: 800px;
}
.description p {
    text-align: center;
}
/* ALÇA DE ROLAGEM ARRASTÁVEL */        
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}          
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}  
::-webkit-scrollbar-thumb:hover {
    background-color: #08376B
}
/* FIM ALÇA DE ROLAGEM ARRASTÁVEL */
/* NAVBAR */   
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #08376B;
    z-index: 1000;
} 
.header .container {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}
.logo-header img {
    height: 30px;
    margin-top: 7px;
    cursor: pointer;
}
.nav {
    float: right;
}
.nav a {
    position: relative;
    font-size: 15px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}  
.nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.nav a:hover {
    color: white;
} 
.nav a:hover:after {
    width: 100%;
}
.nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
/* FIM NAVBAR */