/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
}
.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* FIM GLOBAL */
/* HEADER */
.header {
    width: 100%;
    height: 10%;
    background-color: pink;
}
/* FIM HEADER */
/* CABEÇALHO */
.cabecalho-metricas {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
    font-weight: bold;
    color: #434343;
    font-size: 30px;
}
/* FIM CABEÇALHO */
/* PRIMEIRO GRÁFICO */
.primeiro-grafico {
    height: 85%;
    width: 50%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.conteudo-primeiro-grafico {
    width: 90%;
    height: 80%;
}
.texto-primeiro-grafico {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.texto-primeiro-grafico p {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #434343;
    font-size: 15px;
    text-transform: uppercase;
}
.segundotexto-primeiro-grafico {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.segundotexto-primeiro-grafico p {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #434343;
    font-size: 12px;
    margin-top: 2%;
}
/* SEGUNDO GRÁFICO */
.segundo-grafico {
    height: 85%;
    width: 50%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.conteudo-segundo-grafico {
    width: 90%;
    height: 80%;
}
.texto-segundo-grafico {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.texto-segundo-grafico p {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #434343;
    font-size: 15px;
    text-transform: uppercase;
}
.segundotexto-segundo-grafico {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
.segundotexto-segundo-grafico p {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #434343;
    font-size: 12px;
    margin-top: 2%;
}